In [2]:
x,y = 2,6
x,y = y, x+2
x,y

(6, 4)

In [4]:
def square(x):
    return x**2

f = square
f(4)

16

In [5]:
def fxy(f,x,y):
    return f(x)+f(y)

fxy(f,2,3)

13

In [7]:
fxy(square,2,3)

13

In [18]:
def count_digits(num):
    return len(str(num))

count_digits(1234)

4

In [27]:
def strcmp(x,y):
    if x.lower() == y.lower():
        return True
    return False

strcmp("hi",'HI')

True

In [42]:
x = [1,2,3,4,5,6,7,8,9]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
x[3:]

[4, 5, 6, 7, 8, 9]

In [44]:
x[3:-1:2]

[4, 6, 8]

In [45]:
x[:2]

[1, 2]

In [46]:
x[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [47]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
x = [0, 1, [2]]
x[2][0] = 3
x

[0, 1, [3]]

In [49]:
x[2].append(4)
x

[0, 1, [3, 4]]

In [51]:
x[2] = [2]
x

[0, 1, [2]]

In [58]:
for num,ch in zip([1,2,3],["a","b","c"]):
    print(num,ch)

1 a
2 b
3 c

In [59]:
sum([1,2,3])

6

In [89]:
def factorial(a):
    if a == 0:
        return 1
    elif a > 0 :
        x = range(1,a+1)
        fac = 1
        for i in x:
            fac = fac*i;
        return fac
    elif a < 0:
        return "Factorial for -ve num doesn't exist"
    
factorial(-1)

"Factorial for -ve num doesn't exist"

In [98]:
def cumulative_sum(lst):
    sumlist = []
    for i in range(0,len(lst)):
        sumlist.append(sum(lst[0:i+1]))
    return sumlist

cumulative_sum([1,2,3,4,5])

[1, 3, 6, 10, 15]

In [102]:
def group(lst,num):
    groupedlst = []
    i=0
    while i<len(lst):
        groupedlst.append(lst[i:num])
        i = num
        num = num + num
    return groupedlst

group([1,2,3,4,5,6],10)

[[1, 2, 3, 4, 5, 6]]